# Initialization of variables. Simplest operations in Python

In [12]:
a = 3
b = 5

display(a + b)
print(a + b)
a + b

8

8

8

In [13]:
for i in range(3):
    print(i)
    
print('-----------')

for i in range(2, -1, -1):
    print(i)

0
1
2
-----------
2
1
0

In [14]:
t = 5

while t > 0:
    print(t)
    t -= 1

5
4
3
2
1

# List, tuple, set, dict

In [15]:
list_ = []      #mutable
tuple_ = ()     #mutable
set_ = set()    #immutable
dict_ = dict()  #mutable

Append some elements

In [16]:
list_.append(3)
list_.append([3,3,5])
#list_.append(3,2,1) #<- Error!
list_.extend([8,8,8])
list_

[3, [3, 3, 5], 8, 8, 8]

In [17]:
tuple_.append(1) #impossible

AttributeError: 'tuple' object has no attribute 'append'

In [18]:
set_.add(4)
set_.add(4)
set_.add(41)
set_.add('4')
set_

{'4', 4, 41}

In [19]:
dict_['key1'] = 'first'
dict_['key1'] = 'second'
dict_

{'key1': 'second'}

# Indexing

In [20]:
tuple_ = tuple((1, 2, 3, 'Hey'))
display(list_[0])
display(tuple_[3])
display(tuple_[-1])
display(dict_['key1'])
#display(set_[1]) #<-error!

3

'Hey'

'Hey'

'second'

# Import  libraries

In [22]:
#pip install ... #<- library name

In [23]:
import pandas as pd
import numpy as np
from numpy import NaN

Some modules from pandas and numpy

In [24]:
#simple array
np.array([1,2,23])

array([ 1,  2, 23])

In [25]:
#how to create DataFrame
d = {'col1': [1], 'col2': [3, 4]}
df = pd.DataFrame(data=d, index=['first', 'second'])
df

        col1  col2
first      1     3
second     1     4

In [26]:
#dimension of your df (number of rows, number of cols)
df.shape

(2, 2)

In [27]:
# create new column
df['col1'] = [2, 2]
df['col4'] = ['2', '2']
df

        col1  col2 col4
first      2     3    2
second     2     4    2

In [28]:
#summary of your DataFrame
df.info()
df.describe()

<class 'pandas.core.frame.DataFrame'>
Index: 2 entries, first to second
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   col1    2 non-null      int64
 1   col2    2 non-null      int64
 2   col4    2 non-null      object
dtypes: int64(2), object(1)
memory usage: 64.0+ bytes

       col1      col2
count   2.0  2.000000
mean    2.0  3.500000
std     0.0  0.707107
min     2.0  3.000000
25%     2.0  3.250000
50%     2.0  3.500000
75%     2.0  3.750000
max     2.0  4.000000

In [29]:
# modify the data type in the column
df['col4'] = df['col4'].astype(int)
df

        col1  col2  col4
first      2     3     2
second     2     4     2

# Task 1

Create an object (using only the data types I presented today) that includes all the data types, each of which must have 100 digits and each of which must repeat twice